<template>
  <a-scrollbar style="height: 100%; overflow: auto">
    <a-form :model="questions" layout="vertical">
      <template
        v-for="(question, questionIndex) in questions"
        :key="question.id"
      >
        <a-form-item
          field="question"
          :label="`第${-~questionIndex}题[${
            question.type === 'radio'
              ? '单选题'
              : question.type === 'checkbox'
              ? '多选题'
              : question.type === 'textarea'
              ? '问答题'
              : question.type === 'dict'
              ? '字典选择题'
              : ''
          }]${question.title}`"
        >
          <a-radio-group
            v-if="question.type === 'radio'"
            v-model="answer[question.id]"
            class="w_100"
          >
            <a-grid :cols="2" :col-gap="24" :row-gap="16">
              <a-grid-item v-for="option in question.options" :key="option.id">
                <a-radio :value="option.id">{{ option.value }}</a-radio>
              </a-grid-item>
            </a-grid>
          </a-radio-group>
          <a-checkbox-group
            v-if="question.type === 'checkbox'"
            v-model="answer[question.id]"
            class="w_100"
            :max="question.selectNum[1]"
          >
            <a-grid :cols="2" :col-gap="24" :row-gap="16">
              <a-grid-item v-for="option in question.options" :key="option.id">
                <a-checkbox :value="option.id">{{ option.value }}</a-checkbox>
              </a-grid-item>
            </a-grid>
          </a-checkbox-group>
          <a-textarea
            v-if="question.type === 'textarea'"
            v-model="answer[question.id]"
            allow-clear
          />
        </a-form-item>
      </template>
    </a-form>
  </a-scrollbar>
</template>

<script setup lang="ts" name="tableConfig">
  import { watch, ref, reactive } from 'vue';

  const answer: any = reactive({});
  type Question = {
    id: string;
    questionnaireId: string;
    type: string;
    title: string;
    required: boolean;
    orderNo: number;
    options: { id: string; value: string }[];
    isShow: boolean;
    selectNum: [number, number];
  };
  // 接收参数
  const props = defineProps({
    questionnaireData: {
      type: Object,
    },
  });

  const questions = ref<Question[]>([]);
  watch(
    () => props?.questionnaireData,
    () => {
      const questionnaireData = JSON.parse(
        JSON.stringify(props?.questionnaireData)
      );
      questions.value = questionnaireData.questions;
    },
    { immediate: true, deep: true }
  );
</script>

<style scoped lang="less"></style>
