/* 简写 */
.d_f {
  display: flex;
  align-items: center;
}

.fw_w {
  flex-wrap: wrap;
}

.jc_c {
  justify-content: center;
}

.jc_sb {
  justify-content: space-between;
}

.jc_s {
  justify-content: start;
}

.jc_fe {
  justify-content: flex-end;
}

.fd_c {
  flex-direction: column;
  align-items: initial;
}

.ai_fs {
  align-items: flex-start;
}

.ai_c {
  align-items: center;
}

.ai_fe {
  align-items: flex-end;
}

.f_1 {
  flex: 1;
  overflow: hidden;
}

.o_u {
  overflow: unset;
}

.o_h {
  overflow: hidden;
}

.w_100 {
  width: 100%;
}

.h_100 {
  height: 100%;
}

.mw_mc {
  min-width: max-content;
}

.to_e {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ta_l {
  text-align: left;
}

.ta_c {
  text-align: center;
}

.ta_r {
  text-align: right;
}

/* 自定义 */
// 间距 
.custom_space{
  margin-right: -5px;
  margin-bottom: -5px;
  >*{
    margin-right: 5px;
  margin-bottom: 5px;
  }
}

/* 角标 */
.custom_mark {
  position: relative;
}

.custom_mark::after {
  content: attr(data-mark);
  display: inline-block;
  min-width: 38rpx;
  max-height: 38rpx;
  background: #FD654A;
  box-sizing: border-box;
  border-radius: 19rpx;
  border: 3rpx solid #FFFFFF;
  padding: 0 10rpx;
  font-size: 27rpx;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 32rpx;
  position: absolute;
  top: -19rpx;
  right: 0;
  transform: translateX(100%);
}

/* 搜索输入框 */
.search_input {
  border-radius: 38rpx;
  background-color: #eee;
  height: 64rpx;
  padding: 0 15rpx;
  box-sizing: border-box;
}

.search_input .image {
  width: 46rpx;
  min-width: 46rpx;
  height: 46rpx;
  margin-right: 13rpx;
}

.search_input .input {
  height: 64rpx;
  color: #333;
  font-size: 25rpx;
  display: inline-block;
  height: 62rpx;
}

.search_input .phcolor {
  color: #BBC4C7;
}

/* 自定义导航栏 */
.custom_tabs {
  background-color: transparent !important;
}

.custom_tabs::after {
  content: none !important;
}

.custom_tab {
  width: unset !important;
  padding: 0 29rpx;
  font-size: 35rpx;
  font-weight: 600;
}

.custom_tab:first-child {
  padding-left: 38rpx;
}

.custom_tab:last-child {
  padding-right: 38rpx;
}

.custom_tab>view {
  width: 58rpx;
  height: 12rpx;
  background: -webkit-linear-gradient(225deg, #5E4FFFff, #335DFFff);
  border-radius: 6rpx;
  left: 50%;
  transform: translateX(-50%);
}

.custom_tab_title {
  color: #AAB8BD !important;
  font-size: 35rpx !important;
  font-weight: 600 !important;
  line-height: 48rpx !important;
}

.custom_tab_title_current {
  color: #444 !important;
}

/* 单选 */
.custom_radio {
  width: 31rpx;
  min-width: 31rpx;
  height: 31rpx;
  background: #F7F7F7;
  border: 2rpx solid #C8C8C8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.custom_radio.checked::after {
  content: '';
  width: 23rpx;
  height: 23rpx;
  background: #4F70E7;
  border-radius: 50%;
}

/* 开关 */
.custom_switch {
  width: 88rpx;
  height: 46rpx;
  border-radius: 46rpx;
  background-color: #ccc;
  transition: .2s;
  position: relative;
}

.custom_switch::after {
  content: '';
  width: 34rpx;
  height: 34rpx;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  transition: .2s;
  top: 50%;
  left: 6rpx;
  transform: translateX(0) translateY(-50%);
}

.custom_switch.checked {
  background-color: #458bff;
}

.custom_switch.checked::after {
  left: calc(100% - 6rpx);
  transform: translateX(-100%) translateY(-50%);
}

/* 底部按钮 */
.footer_btn_place {
  height: 175rpx;
}

.footer_btn_box {
  width: 100%;
  height: 175rpx;
  padding-bottom: 52rpx;
  box-sizing: border-box;
  border-top: 1rpx solid #EDEDED;
  background: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /*覆盖输入框*/
}

.footer_btn_box.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
}

.btn_plain {
  height: 77rpx;
  background: #FFFFFF;
  border-radius: 13rpx;
  border: 2rpx solid #3063FF;
  box-sizing: border-box;
  font-size: 31rpx;
  font-weight: 600;
  color: #3063FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15rpx;
}

.btn_primary {
  height: 77rpx;
  background: #4568FF;
  border-radius: 13rpx;
  box-sizing: border-box;
  font-size: 31rpx;
  font-weight: 600;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15rpx;
}

.btn_primary.disabled {
  background-color: #ccc;
}

.action_sheet_class {
  border-radius: 46rpx 46rpx 0px 0px;
  overflow: hidden;
}

