<template>
  <a-spin
    class="w_100 h_100 dynamic_page"
    :loading="loading"
    dot
    style="padding: 0 10px"
  >
    <div class="h_100 d_f fd_c">
      <Breadcrumb :items="['**', '**']" />
      <a-row class="f_1" :gutter="5">
        <a-col flex="auto" class="h_100">
          <a-card class="h_100">
            <dyForm :questionnaire-data="questionnaireData"> </dyForm>
          </a-card>
        </a-col>
        <a-col flex="400px" class="h_100">
          <a-card class="h_100">
            <dyConfig v-model:questionnaireData="questionnaireData"></dyConfig>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </a-spin>
</template>

<script setup lang="ts" name="list">
  import { getQuestionnaire } from '@/api/questionnaire';
  import { reactive, ref } from 'vue';
  import { useRoute } from 'vue-router';
  // import { ref, reactive } from 'vue';
  // import { getConfigurationById } from '@/api/configuration';
  import { Notification } from '@arco-design/web-vue';
  import dyConfig from '@/views/questionnaire/config/index.vue';
  import dyForm from '@/views/questionnaire/form/index.vue';
  // import dyTree from '@/views/dynamicPage/tree/index.vue';

  // const tableRef = ref();
  const route = useRoute();
  const { params } = route;
  const { questionnaireId } = params;
  const loading = ref(true);
  const questionnaireData = reactive<any>({});
  // const treeSelectedKeys = ref<string[]>([]);
  const getQuestionnaireData = async () => {
    try {
      const res = await getQuestionnaire(questionnaireId as string);
      console.log(3355, res);
      Object.assign(questionnaireData, res.data);
    } catch (err) {
      Notification.error(err as string);
    } finally {
      loading.value = false;
    }
  };
  // const treeSelectedKeysChange = (selectedKeys: string[]) => {
  //   console.log(445566);
  //   treeSelectedKeys.value = selectedKeys;
  // };
  getQuestionnaireData();
</script>

<style scoped lang="less"></style>
