<template>
  <div class="draggable">
    <div class="box1">
      <div v-for="item in arr1" :key="item.id">{{ item.text }}</div>
    </div>
    <div class="box2">
      <div v-for="item in arr2" :key="item.id"
        >{{ item.id }}:{{ item.text }}</div
      >
    </div>
    <div class="box3">
      <div v-for="item in arr3" :key="item.id"
        >{{ item.id }}:{{ item.text }}</div
      >
    </div>
  </div>
</template>

<script setup lang="ts" name="draggable">
  import Sortable from 'sortablejs';
  import { nextTick, onMounted } from 'vue';

  // 接收参数
  // const props = defineProps();
  // 触发事件
  // const emit = defineEmits();
  // 获取路由参数
  // const route = useRoute();
  // const query = route.query;
  const arr1 = [
    { id: '1', text: '1' },
    { id: '2', text: '2' },
    { id: '3', text: '3' },
    { id: '4', text: '4' },
    { id: '5', text: '5' },
    { id: '6', text: '6' },
    { id: '7', text: '7' },
    { id: '8', text: '8' },
    { id: '9', text: '9' },
    { id: '10', text: '10' },
  ];
  const arr2 = [{ id: '99', text: '99' }];
  const arr3 = [{ id: '999', text: '999' }];

  // 父组件可调用方法
  // defineExpose({})
  onMounted(() => {
    nextTick(() => {
      const box1Sortable = new Sortable(
        document.querySelector('.box1') as HTMLElement,
        {
          group: 'box',
          //   forceFallback: true,
          onEnd(e: any) {
            console.log(111, e);
          },
          onChange(e: any) {
            console.log('111onChange', e); // same properties as onEnd
          },
        }
      );
      const box2Sortable = new Sortable(
        document.querySelector('.box2') as HTMLElement,
        {
          group: 'box',
          onEnd(e: any) {
            console.log(222, e);
          },
          onAdd(e: any) {
            console.log('222onAdd', e); // same properties as onEnd
          },
          onSort(e: any) {
            console.log('222onSort', e); // same properties as onEnd
          },
          onChange(e: any) {
            console.log('222onChange', e); // same properties as onEnd
          },
        }
      );
      const box3Sortable = new Sortable(
        document.querySelector('.box3') as HTMLElement,
        {
          group: 'box',
          onEnd(e: any) {
            console.log(333, e);
          },
          onAdd(e: any) {
            console.log('333onAdd', e); // same properties as onEnd
          },
        }
      );
      return { box1Sortable, box2Sortable, box3Sortable };
    });
  });
</script>

<style scoped lang="less">
  .draggable {
    display: flex;
  }
  .box1 {
    flex: 1;
  }
  .box2 {
    flex: 2;
  }
</style>
