<template>
  <a-scrollbar style="height: 100%; overflow: auto">
    <div>
      <a-collapse v-show="questions?.length" accordion class="questions">
        <template #expand-icon>
          <icon-unordered-list style="cursor: move" />
        </template>
        <a-collapse-item
          v-for="(question, questionIndex) in questions"
          :key="question.id"
        >
          <template #header>
            <div>第{{ -~questionIndex }}题</div>
          </template>
          <template #extra>
            <a-space>
              <a-link
                status="danger"
                :hoverable="false"
                icon
                @click.stop="delQuestionClick(question)"
              >
                <template #icon>
                  <icon-delete style="font-size: 20px" />
                </template>
              </a-link>
              <a-switch v-model="question.isShow" @click.stop="null" />
            </a-space>
          </template>
          <a-form :model="question" auto-label-width>
            <a-form-item field="type" label="题目类型">
              <a-select
                v-model="question.type"
                placeholder="请选择题目类型"
                @change="questionTypeChange(question)"
              >
                <a-option value="radio">单选题</a-option>
                <a-option value="checkbox">多选题</a-option>
                <a-option value="textarea">问答题</a-option>
              </a-select>
            </a-form-item>
            <a-form-item field="title" label="题目标题">
              <a-input v-model="question.title" placeholder="请输入题目标题" />
            </a-form-item>
            <a-form-item field="required" label="必填">
              <a-radio-group v-model="question.required">
                <a-radio :value="true">是</a-radio>
                <a-radio :value="false">否</a-radio>
              </a-radio-group>
            </a-form-item>
            <a-form-item
              v-if="question.type === 'checkbox'"
              field="selectNum"
              label="选择数量"
            >
              <a-slider
                v-model="question.selectNum"
                range
                :min="1"
                :max="question.options.length"
              />
            </a-form-item>
            <a-form-item label="显示条件">
              <div
                style="padding: 5px 12px; cursor: pointer"
                @click="openConditionModal(question)"
              >
                无
              </div>
            </a-form-item>
            <!-- 选项 -->
            <div
              v-show="question.type === 'radio' || question.type === 'checkbox'"
              :class="`question${question.id}options`"
            >
              <a-form-item
                v-for="(option, optionIndex) in question.options"
                :key="option.id + optionIndex"
                :field="`options.${optionIndex}.id`"
                :label="`选项${-~optionIndex}`"
              >
                <a-space>
                  <a-input
                    v-model="option.value"
                    :placeholder="`请输入选项${-~optionIndex}`"
                  />

                  <a-link
                    title="新增"
                    :hoverable="false"
                    @click="addOption(question, optionIndex)"
                  >
                    <template #icon>
                      <icon-plus />
                    </template>
                  </a-link>
                  <a-link
                    status="danger"
                    title="删除"
                    :hoverable="false"
                    @click="delOption(question, optionIndex)"
                  >
                    <template #icon>
                      <icon-minus />
                    </template>
                  </a-link>
                </a-space>
              </a-form-item>
            </div>
          </a-form>
        </a-collapse-item>
      </a-collapse>
      <a-button type="primary" @click="addQuestion">新增题目</a-button>
    </div>
    <a-button type="primary" @click="saveQuestionnaireData">保存配置</a-button>
    <a-modal
      v-model:visible="conditionModalVisible"
      @ok="conditionModalOk"
      @cancel="conditionModalCancel"
    >
      <template #title>显示条件</template>
      <template
        v-for="(condition, conditionIndex) in displayCondition[
          conditionQuestion.id
        ]"
        :key="'condition' + conditionIndex"
      >
        <a-form :model="condition">
          <a-form-item
            :field="`[${conditionIndex}]`"
            :label="`条件${-~conditionIndex}`"
          >
            <a-space>
              <a-space
                v-for="(conditionItem, conditionItemIndex) in condition"
                :key="conditionIndex + 'conditionItem' + conditionItemIndex"
                direction="vertical"
                fill
              >
                <a-select v-model="conditionItem[0]"></a-select>
                <div class="mw_mc">包含</div>
                <a-select v-model="conditionItem[1]"></a-select>
                <div class="mw_mc">并且</div>
              </a-space>
            </a-space>
          </a-form-item>
        </a-form>
      </template>
    </a-modal>
  </a-scrollbar>
</template>

<script setup lang="ts" name="tableConfig">
  import { saveQuestionnaire } from '@/api/questionnaire';
  import { getRandomId } from '@/utils/publicJs';
  import Sortable from 'sortablejs';
  import { nextTick, watch, computed, ref, reactive } from 'vue';

  import { useRoute } from 'vue-router';

  // import {
  //   getConfigurationById,
  //   saveConfigurationData,
  // } from '@/api/configuration';
  // import { onMounted, reactive, ref, watch, toRef, computed } from 'vue';
  import { Notification } from '@arco-design/web-vue';

  // import baseConfiguration from '../components/baseConfiguration.vue';
  // import columnConfiguration from '../components/columnConfiguration.vue';
  // import configurationBase from './configurationBase.vue';
  // import type { TableColumnData } from '@arco-design/web-vue/es/table/interface';
  type Question = {
    id: string;
    questionnaireId: string;
    type: string;
    title: string;
    required: boolean;
    orderNo: number;
    options: { id: string; value: string }[];
    isShow: boolean;
    selectNum: [number, number];
  };
  const route = useRoute();
  const { params } = route;
  const questionnaireId: string = params.questionnaireId as string;
  const structQuestion = (): Question => ({
    id: getRandomId(),
    questionnaireId,
    type: 'textarea', // 类型
    title: '', // 标题
    required: true,
    orderNo: 1, // 排序
    options: ['', '', '', ''].map((v: string) => ({
      id: getRandomId(),
      value: v,
    })), // 选项JSON
    isShow: true, // 是否展示
    selectNum: [1, 4], // 选择数量JSON
  });
  // 接收参数
  const props = defineProps({
    questionnaireData: {
      type: Object,
    },
  });

  // 触发事件
  const emit = defineEmits(['update:questionnaireData']);
  // 获取路由参数
  // const route = useRoute();
  // const query = route.query;
  // const position = ref('base');
  // const drawerVisible = ref(false);
  // const baseConfigR = ref(configurationC.baseConfig);
  // const baseConfig = reactive({});
  // const tableColumnList = ref([]);
  // const tableCollapsActiveKey = ref([]);
  const conditionModalVisible = ref(false);
  const questionnaireData = computed({
    get() {
      return props?.questionnaireData;
    },
    set() {
      emit('update:questionnaireData', questionnaireData.value);
    },
  });
  const questions = computed(() => questionnaireData.value?.questions);
  const displayCondition = computed(
    () => questionnaireData.value?.displayCondition || {}
  );
  const delQuestionClick = (e: any) => {};
  const questionTypeChange = (question: Question) => {
    // if (question.type === 'checkbox') {
    //   question.options = ['', '', '', ''];
    // }
  };
  const addQuestion = () => {
    const newQuestion = structQuestion();
    questions.value.push(newQuestion);
    displayCondition.value[newQuestion.id] = [[[]]];
  };
  const parser = (e: any) => {
    console.log(6699, e, questions);
  };
  // 新增选项
  const addOption = (question: Question, optionIndex: number) => {
    if (question.selectNum[1] === question.options.length) {
      question.selectNum[1] += 1;
    }
    question.options.splice(-~optionIndex, 0, { id: getRandomId(), value: '' });
  };
  // 删除选项
  const delOption = (question: Question, optionIndex: number) => {
    if (question.selectNum[0] === question.options.length) {
      question.selectNum[0] -= 1;
    }
    if (question.selectNum[1] === question.options.length) {
      question.selectNum[1] -= 1;
    }
    question.options.splice(optionIndex, 1);
  };
  const conditionQuestion: any = reactive({});
  const openConditionModal = (question: Question) => {
    Object.assign(conditionQuestion, question);
    conditionModalVisible.value = true;
  };
  const conditionModalOk = () => {};
  const conditionModalCancel = () => {};
  // console.log(778899, configBase);
  // const tableConfig = reactive({
  //   rowSelection: {
  //     show: true,
  //     type: 'checkbox',
  //     showCheckedAll: true,
  //     onlyCurrent: false,
  //   },
  //   columns: [
  //     {
  //       title: '序号',
  //       dataIndex: 'index',
  //       searchShow: true,
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '集合编号',
  //       dataIndex: 'number',
  //       tableShow: true,
  //       format: 'h("div", cellData[column.dataIndex])',
  //       align: 'center',
  //     },
  //     {
  //       title: '集合名称',
  //       dataIndex: 'name',
  //       tableShow: true,
  //       // eslint-disable-next-line no-template-curly-in-string
  //       format: '`值是${value}`',
  //     },
  //     {
  //       title: '内容体裁',
  //       dataIndex: 'contentType',
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '筛选方式',
  //       dataIndex: 'filterType',
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '内容量',
  //       dataIndex: 'count',
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '创建时间',
  //       dataIndex: 'createdTime',
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '状态',
  //       dataIndex: 'status',
  //       tableShow: true,
  //       format: '',
  //     },
  //     {
  //       title: '操作',
  //       dataIndex: 'operation',
  //       tableShow: true,
  //       format: '',
  //     },
  //   ],
  // });
  // const tableSwitchChange = (key: string) => {
  //   const index = tableCollapsActiveKey.value.findIndex((v) => v === key);
  //   if (~index) {
  //     tableCollapsActiveKey.value.splice(index, 1);
  //   }
  // };
  // // 打开抽屉
  // const openDrawer = () => {
  //   const configurationC = JSON.parse(JSON.stringify(props.configuration));
  //   drawerVisible.value = true;
  //   Object.assign(baseConfig, configurationC.baseConfig);
  //   tableColumnList.value = configurationC.tableColumnList;
  // };
  // 保存配置
  const saveQuestionnaireData = () => {
    saveQuestionnaire(questionnaireData.value)
      .then(() => {
        Notification.success('保存成功');
      })
      .catch((err: string) => {
        Notification.error(err);
      });
  };
  // // 获取配置
  // // 父组件可调用方法
  // defineExpose({ openDrawer });
  const sortableO: { [x: string]: any } = {};
  const setSortable = (
    list: any[],
    boxClassName: string,
    handleClassName?: string,
    orderKey?: string
  ) => {
    if (sortableO[boxClassName]) return;
    sortableO[boxClassName] = new Sortable(
      document.querySelector(boxClassName) as HTMLElement,
      {
        handle: handleClassName,
        onEnd(e: any) {
          const { oldIndex, newIndex } = e;
          list.splice(newIndex, 0, list.splice(oldIndex, 1).pop());
          if (orderKey) {
            list.forEach((v: any, i: number) => {
              v[orderKey] = i;
            });
          }
        },
      }
    );
  };
  watch(
    () => questions.value?.length,
    () => {
      nextTick(() => {
        setSortable(
          questions.value,
          `.questions`,
          '.arco-collapse-item-icon-hover',
          'orderNo'
        );
        questions.value.forEach((v: any) => {
          setSortable(
            v.options,
            `.question${v.id}options`,
            '.arco-form-item-label'
          );
        });
      });
    }
  );
</script>

<style scoped lang="less"></style>
