<template>
  <a-spin
    class="w_100 h_100 dynamic_page"
    :loading="loading"
    dot
    style="padding: 0 10px"
  >
    <div class="h_100 d_f fd_c">
      <Breadcrumb :items="['**', '**']" />
      <a-row class="f_1" :gutter="5">
        <a-col
          v-if="
            ['treeTable', 'treeForm'].includes(
              configuration?.configBase?.pageType
            )
          "
          flex="300px"
          class="h_100"
        >
          <a-card class="h_100">
            <dyTree
              :configuration="configuration"
              @selected-keys-change="treeSelectedKeysChange"
            ></dyTree>
          </a-card>
        </a-col>
        <a-col flex="auto" class="h_100">
          <a-card class="h_100">
            <dyTable
              ref="tableRef"
              :tree-selected-keys="treeSelectedKeys"
              :configuration="configuration"
            >
            </dyTable>
          </a-card>
        </a-col>
        <a-col flex="400px" class="h_100">
          <a-card class="h_100">
            <dyConfig v-model:configuration="configuration"></dyConfig>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </a-spin>
</template>

<script setup lang="ts" name="list">
  import { useRoute } from 'vue-router';
  import dyTable from '@/views/dynamicPage/table/index.vue';
  import { ref, reactive } from 'vue';
  import { getConfigurationById } from '@/api/configuration';
  import { Notification } from '@arco-design/web-vue';
  import dyConfig from '@/views/dynamicPage/config/index.vue';
  import dyTree from '@/views/dynamicPage/tree/index.vue';

  const tableRef = ref();
  const route = useRoute();
  const { params } = route;
  const { pageId } = params;
  const loading = ref(true);
  const configuration = reactive<any>({});
  const treeSelectedKeys = ref<string[]>([]);
  const getConfigurationData = async () => {
    try {
      const res = await getConfigurationById(pageId as string);
      Object.assign(configuration, res.data);
    } catch (err) {
      Notification.error(err as string);
    } finally {
      loading.value = false;
    }
  };
  const treeSelectedKeysChange = (selectedKeys: string[]) => {
    console.log(445566);
    treeSelectedKeys.value = selectedKeys;
  };
  getConfigurationData();
</script>

<style scoped lang="less"></style>
