<template>
  <div>
    <a-form :model="configBase" auto-label-width>
      <a-form-item field="getDataListApi" label="页面类型">
        <!-- <a-input v-model="baseConfig.getDataListApi" placeholder="请输入" /> -->
        <a-radio-group v-model="configBase.pageType" @change="pageTypeChange">
          <a-radio value="table">列表</a-radio>
          <a-radio value="treeTable">树-列表</a-radio>
          <a-radio value="treeForm">树-表单</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item field="treePageId" label="树页面">
        <a-select
          v-model="configBase.treePageId"
          :fallback-option="
            () => ({
              value: configBase.treePageId,
              label: configBase.treePageName,
            })
          "
          :options="treePageOption"
          placeholder="请选择"
          @change="selectChange"
        >
        </a-select>
      </a-form-item>
      <a-form-item
        v-if="configBase.pageType === 'treeTable'"
        field="tableCorrelateField"
        label="列表关联字段"
      >
        <a-input
          v-model="configBase.tableCorrelateField"
          placeholder="请输入"
        />
      </a-form-item>
    </a-form>
    <a-collapse accordion>
      <a-collapse-item key="api" header="页面Api">
        <a-form :model="configBase" auto-label-width>
          <a-form-item
            v-if="['treeTable', 'treeForm'].includes(configBase.pageType)"
            field="treeDataApi"
            label="树获取"
          >
            <a-input v-model="configBase.treeDataApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['treeForm'].includes(configBase.pageType)"
            field="treeAddApi"
            label="树新增"
          >
            <a-input v-model="configBase.treeAddApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['treeForm'].includes(configBase.pageType)"
            field="treeUpdateApi"
            label="树更新"
          >
            <a-input v-model="configBase.treeUpdateApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['treeForm'].includes(configBase.pageType)"
            field="treeDelApi"
            label="树删除"
          >
            <a-input v-model="configBase.treeDelApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['table', 'treeTable'].includes(configBase.pageType)"
            field="tableDataApi"
            label="列表获取"
          >
            <a-input v-model="configBase.tableDataApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['table', 'treeTable'].includes(configBase.pageType)"
            field="tableAddApi"
            label="列表新增"
          >
            <a-input v-model="configBase.tableAddApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['table', 'treeTable'].includes(configBase.pageType)"
            field="tableUpdateApi"
            label="列表更新"
          >
            <a-input v-model="configBase.tableUpdateApi" placeholder="请输入" />
          </a-form-item>
          <a-form-item
            v-if="['table', 'treeTable'].includes(configBase.pageType)"
            field="tableDelApi"
            label="列表删除"
          >
            <a-input v-model="configBase.tableDelApi" placeholder="请输入" />
          </a-form-item>
        </a-form>
      </a-collapse-item>
    </a-collapse>
  </div>
</template>

<script setup lang="ts" name="configBase">
  import { watch, computed, ref } from 'vue';
  import { getTreePageList } from '@/api/allApi';

  // 接收参数
  const emit = defineEmits(['update:configBase']);
  const props = defineProps({
    configBase: {
      type: Object,
      default: () => ({}),
    },
  });
  const treePageOption = ref<{ value: string; label: string }[]>([]);
  const configBase = computed({
    get() {
      return props.configBase;
    },
    set() {
      emit('update:configBase', configBase.value);
    },
  });

  // 触发事件
  // 获取路由参数
  // const route = useRoute();
  // const query = route.query;
  const pageTypeChange = () => {
    switch (configBase.value.pageType) {
      case 'table':
        configBase.value.treeDataApi = '';
        configBase.value.treeAddApi = '';
        configBase.value.treeUpdateApi = '';
        configBase.value.treeDelApi = '';
        break;
      case 'treeTable':
        configBase.value.treeAddApi = '';
        configBase.value.treeUpdateApi = '';
        configBase.value.treeDelApi = '';
        break;
      case 'treeForm':
        configBase.value.tableDataApi = '';
        configBase.value.tableAddApi = '';
        configBase.value.tableUpdateApi = '';
        configBase.value.tableDelApi = '';
        break;
      default:
        break;
    }
  };
  const getTreeSelectOption = () => {
    getTreePageList().then((res: any) => {
      console.log(2323, res);
      treePageOption.value = res.data;
    });
  };
  const selectChange = (value: string | number | Record<string, any>): any => {
    console.log(996, value);
    configBase.value.treePageName =
      treePageOption.value.find((v) => v.value === value)?.label || '';
    console.log(8877, configBase);
  };
  watch(
    () => configBase.value.pageType,
    (val) => {
      if (val === 'treeTable') {
        console.log(666);
        getTreeSelectOption();
      }
    }
    // { immediate: true }
  );
  // 父组件可调用方法
  // defineExpose({})
</script>

<style scoped lang="less">
  :deep(.arco-form-item) {
    margin-bottom: unset;
  }
</style>
