<template>
  <div>
    <div @click="change1">kai</div>
    <div @click="change2">gaun</div>
    {{ treeData }}
    <a-tree
      ref="treeRef"
      v-model:selected-keys="selectedKeys"
      block-node
      :data="treeData"
      show-line
      @update:selected-keys="selectedKeysChange"
    >
      <template #extra="nodeData">
        <a-space v-if="false">
          <IconPlus
            v-if="!nodeData.parentId || nodeData.parentId == -1"
            style="color: #3370ff"
            @click="() => onIconClick(nodeData)"
          />
          <IconEdit
            v-if="nodeData.parentId"
            style="color: #3370ff"
            @click="() => treeNodeEdit(nodeData)"
          />
          <IconDelete
            v-if="nodeData.parentId && !nodeData.children?.length"
            style="color: #f53f3f"
            @click="() => treeNodeDel(nodeData)"
          />
        </a-space>
      </template>
    </a-tree>
  </div>
</template>

<script setup lang="ts" name="index">
  import { getDynamicDataList } from '@/api/dynamic';
  import http from '@/api/http';
  import { listToTree } from '@/utils/publicJs';
  import axios from 'axios';
  import { provide, computed, nextTick, ref, watch } from 'vue';

  import { useRoute } from 'vue-router';

  // 接收参数
  // const props = defineProps();
  // 触发事件
  const emit = defineEmits(['selectedKeysChange']);
  // 获取路由参数
  const route = useRoute();
  const { params } = route;
  const { pageId } = params as { pageId: string };
  // 接收参数
  const props = defineProps({
    configuration: {
      type: Object,
    },
  });
  const selectedKeys = ref<string[]>([]);
  const configBase = computed(() => props?.configuration?.configBase);
  const baseConfig = computed(() => props?.configuration?.baseConfig);
  const tableColumnList = computed(() => props?.configuration?.tableColumnList);

  const temId = ref('');

  const treeData = ref([]);
  const selectedKeysChange = (treeNodeKey: any) => {
    console.log(4455, selectedKeys, treeNodeKey);
    emit('selectedKeysChange', selectedKeys.value);
    // fetchData();
    // selected_keys_change
  };
  const onIconClick = (nodeData: any) => {
    // Object.assign(treeForm, nodeData);
    // treeFormVisible.value = true;
  };
  const treeNodeEdit = (nodeData: any) => {
    // Object.assign(treeForm, nodeData);
    // treeFormVisible.value = true;
  };
  const treeNodeDel = (nodeData: any) => {
    // Object.assign(treeForm, nodeData);
    // treeFormVisible.value = true;
  };
  const treeRef = ref();
  const https: any = {};
  // 获取树数据
  const getDataList = () => {
    selectedKeys.value = [];
    https.getDataList().then((res: any) => {
      console.log(1122, res);
      res.data.list.forEach((v: any) => {
        if (!v.disabled && !selectedKeys.value.length) {
          selectedKeys.value = [v.id];
        }
        v.pId = v.pId || '-1';
        v.key = v.id;
        v.title = v.title || v.name;
      });
      res.data.list.push({
        id: '-1',
        key: '-1',
        title: '全部',
        disabled: true,
      });
      treeData.value = listToTree({ list: res.data.list });
      console.log(1144, treeData.value);
      emit('selectedKeysChange', selectedKeys.value);
      nextTick(() => {
        treeRef.value.expandAll(true);
      });
    });
  };
  // 父组件可调用方法
  // defineExpose({})
  watch(
    () => configBase.value,
    (val) => {
      console.log(4455, val);
      if (val.treeDataApi) {
        https.getDataList = (data: any) =>
          http.post<any>(val.getDataListApi, data);
      } else if (val.treePageId) {
        https.getDataList = (data: any) =>
          getDynamicDataList({ data, pageId: val.treePageId });
      } else {
        return;
      }
      getDataList();
    },
    { immediate: true, deep: true }
  );
  const change1 = () => {
    treeRef.value.expandAll(true);
  };
  const change2 = () => {
    treeRef.value.expandAll(false);
  };
</script>

<style scoped lang="less"></style>
