<template>
  <div v-resize="domResize" class="dataScreen">
    <div ref="echartsRef" class="w_100 h_100"></div>






    
    <img class="w_100 h_100 dataScreen_img" src="@/assets/images/network.png" />
  </div>
</template>

<script setup lang="ts" name="dataScreen">
  import * as echarts from 'echarts';
  import { onMounted, ref } from 'vue';

  type coordinate = [x: number, y: number];
  let myChart: any;
  const domResize = () => {
    myChart.resize();
  };
  const echartsRef = ref();
  const symbolImg01 =
    'image://http://124.221.83.197:8072/images/waterDrop01.png';
  const symbolImg02 =
    'image://http://124.221.83.197:8072/images/waterDrop02.png';
  const symbolImg03 =
    'image://http://124.221.83.197:8072/images/waterDrop03.png';
  const homeEchart = (
    imgWidth: number,
    imgHeight: number,
    option?: { o: coordinate; x: coordinate; y: coordinate }
  ) => {
    // 本系列y轴向下
    const liuxianList = [
      { code: '01', text: '登封公司', curveness: -0.2, state: '01' },
      { code: '02', text: '巩义公司', curveness: -0.2, state: '01' },
      { code: '03', text: '北城公司', curveness: -0.2, state: '02' },
      { code: '04', text: '卷烟配送中心', curveness: -0.2, state: '02' },
      { code: '05', text: '中牟公司', curveness: -0.2, state: '01' },
      { code: '06', text: '荥阳公司', curveness: -0.2, state: '03' },
      { code: '07', text: '上街公司', curveness: -0.2, state: '02' },
      { code: '08', text: '新郑公司', curveness: -0.2, state: '02' },
      { code: '09', text: '南城公司', curveness: -0.2, state: '02' },
      { code: '10', text: '西城公司', curveness: -0.2, state: '02' },
      { code: '11', text: '港区公司', curveness: -0.2, state: '02' },
      { code: '12', text: '新密公司', curveness: -0.2, state: '02' },
    ];
    const lineList: any = {
      // 登封公司: [
      //   [0, 0],
      //   [-1, 0],
      // ],
      // 巩义公司: [
      //   [0, 0],
      //   [-0.6, 0],
      //   [-0.6, 0.5],
      //   [-1, 0.5],
      // ],
      // 北城公司: [
      //   [0, 0],
      //   [-0.6, 0],
      //   [-0.6, -0.5],
      //   [-1, -0.5],
      // ],
      // 卷烟配送中心: [
      //   [0, 0],
      //   [0, -0.6],
      //   [-0.5, -0.6],
      //   [-0.5, -1],
      // ],
      // 中牟公司: [
      //   [0, 0],
      //   [0, -1],
      // ],
      // 荥阳公司: [
      //   [0, 0],
      //   [0, -0.6],
      //   [0.5, -0.6],
      //   [0.5, -1],
      // ],
      // 上街公司: [
      //   [0, 0],
      //   [0.6, 0],
      //   [0.6, -0.5],
      //   [1, -0.5],
      // ],
      // 新郑公司: [
      //   [0, 0],
      //   [1, 0],
      // ],
      // 南城公司: [
      //   [0, 0],
      //   [0.6, 0],
      //   [0.6, 0.5],
      //   [1, 0.5],
      // ],
      // 西城公司: [
      //   [0, 0],
      //   [0, 0.6],
      //   [0.5, 0.6],
      //   [0.5, 1],
      // ],
      // 港区公司: [
      //   [0, 0],
      //   [0, 1],
      // ],
      // 新密公司: [
      //   [0, 0],
      //   [0, 0.6],
      //   [-0.5, 0.6],
      //   [-0.5, 1],
      // ],
      登封公司: [
        [203, 187],
        [364.25, 282],
      ],
      巩义公司: [
        [79.25, 257],
        [162.25, 306],
        [284.25, 233],
        [364.25, 282],
      ],
      北城公司: [
        [323.25, 120],
        [397.25, 164],
        [284.25, 233],
        [364.25, 282],
      ],
      卷烟配送中心: [
        [536.25, 118],
        [479.25, 152],
        [555.25, 197],
        [469.25, 241],
      ],
      中牟公司: [
        [666.25, 188],
        [506.25, 283],
      ],
      荥阳公司: [
        [790.25, 260],
        [734.25, 296],
        [609.25, 223],
        [506.25, 283],
      ],
      上街公司: [
        [779, 374],
        [721.25, 341],
        [601.25, 410],
        [481.25, 340],
      ],
      新郑公司: [
        [657, 442],
        [481.25, 340],
      ],
      南城公司: [
        [535.25, 511],
        [478.25, 480],
        [601.25, 410],
        [481.25, 340],
      ],
      西城公司: [
        [337.25, 513],
        [398.25, 476],
        [274.25, 406],
        [379.25, 340],
      ],
      港区公司: [
        [211, 443],
        [379.25, 340],
      ],
      新密公司: [
        [85.25, 362],
        [145.25, 331],
        [274.25, 406],
        [379.25, 340],
      ],
    };

    const iconList = [symbolImg01, symbolImg02, symbolImg03];
    const linColor = ['#eeb60c', '#40a69e', '#d12322']; // 黄 绿 红
    const activeList: (
      | {
          coordinate: any;
          name?: undefined;
          curveness?: undefined;
          type?: undefined;
        }
      | { name: any; curveness: any; type: number; coordinate?: undefined }
      | any
    )[][] = [];
    const type = ['中危', '低危', '高危'];
    const series: {
      name: string;
      coordinateSystem: string;
      type: string;
      symbol: string[]; // 轴线两端箭头，两个值，none表示没有箭头，arrow表示有箭头
      zlevel: number;
      polyline: boolean;
      effect: {
        constantSpeed: number;
        show: boolean;
        period: number;
        trailLength: number; // 阴影
        // symbol: iconList[item[1].type], //'circle', //移动点的形状
        symbol: any; // 'circle', //移动点的形状
        symbolSize: number;
      };
      markPoint: { symbolRotate: number };
      lineStyle: {
        normal: {
          color: string; // 线颜色
          width: number;
          opacity: number;
        };
      };
      // data: item[0].coordinate
      data: { coords: any }[];
    }[] = [];

    liuxianList.forEach(function (item: {
      text: string | number;
      state: string;
      curveness: any;
    }) {
      // eslint-disable-next-line no-restricted-syntax
      if (option) {
        // 传有配置项则将异向坐标转化为绝对坐标
        const { o, x, y } = option;
        const xr: coordinate = [x[0] - o[0], x[1] - o[1]];
        const yr: coordinate = [y[0] - o[0], y[1] - o[1]];
        lineList[item.text].forEach((drop: any) => {
          const dropX = drop[0];
          const dropY = drop[1];
          drop[0] = dropX * xr[0] + dropY * yr[0] + o[0];
          drop[1] = dropX * xr[1] + dropY * yr[1] + o[1];
        });
      }
      const code = lineList[item.text];
      if (item.state === '01') {
        activeList.push([
          { coordinate: code },
          { name: item.text, curveness: item.curveness, type: 0 },
        ]);
      }
      if (item.state === '02') {
        activeList.push([
          { coordinate: code },
          { name: item.text, curveness: item.curveness, type: 1 },
        ]);
      }
      if (item.state === '03') {
        activeList.push([
          { coordinate: code },
          { name: item.text, curveness: item.curveness, type: 2 },
        ]);
      }
    });
    activeList.forEach(function (item, i) {
      series.push({
        name: type[item[1].type],
        coordinateSystem: 'cartesian2d',
        type: 'lines',
        symbol: ['none'], // 轴线两端箭头，两个值，none表示没有箭头，arrow表示有箭头
        zlevel: 1,
        polyline: true,
        effect: {
          constantSpeed: 110,
          show: true,
          period: 6,
          trailLength: 0.2, // 阴影
          // symbol: iconList[item[1].type], //'circle', //移动点的形状
          symbol: iconList[item[1].type], // 'circle', //移动点的形状
          symbolSize: 8, // 圆圈大小
        },
        markPoint: {
          symbolRotate: 60,
        },
        lineStyle: {
          normal: {
            color: linColor[item[1].type], // 线颜色
            width: 0.9,
            opacity: 0.8,
            // curveness: item[1].name == '交换机'?-0.8:0 // 弧度
            // curveness: item[1].curveness // 弧度
          },
        },
        // data: item[0].coordinate
        data: [
          {
            coords: item[0].coordinate,
          },
        ],
      });
    });
    // 数据流向图
    const migrationoption = {
      tooltip: {
        trigger: 'item',
      },
      title: { show: false },
      legend: { show: false },
      grid: { left: 0, right: 0, top: 0, bottom: 0 },
      xAxis: {
        show: false,
        min: 0,
        max: imgWidth,
      },
      yAxis: {
        show: false,
        min: 0,
        max: imgHeight,
        inverse: true,
      },
      series,
    };
    return migrationoption;
  };
  onMounted(() => {
    myChart = echarts.init(echartsRef.value);
    const data = homeEchart(888, 624);
    // const data = homeEchart(888, 624, {
    //   o: [444, 327],
    //   x: [700, 474],
    //   y: [190, 474],
    // });
    myChart.setOption(data, true);
    myChart.getZr().on('click', function (param: any) {
      console.log('homeEchartInit', `[${param.offsetX},${param.offsetY}]`);
    });
  });
  // 接收参数
  // const props = defineProps();
  // 触发事件
  // const emit = defineEmits();
  // 获取路由参数
  // const route = useRoute();
  // const query = route.query;

  // 父组件可调用方法
  // defineExpose({})
</script>

<style scoped lang="less">
  .dataScreen {
    height: 100vh;
    background-color: #0a161b;
    position: relative;
  }

  .dataScreen_img {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
